<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tarce.testnew">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SecondaryMenuActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.Invenytory.StockInventoryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.Invenytory.ScanActivity"
            android:label="@string/title_activity_scan"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".activity.product.ProductActivity"
           />

        <activity android:name=".activity.product.ProductSearchActivity"/>
        <activity android:name=".activity.product.ProductDetailActivity"/>
        <activity android:name=".activity.product.MoveInventoryActivity"/>
        <activity android:name=".activity.product.MoveInventoryDetailActivity"/>
        <activity android:name=".activity.makeOrder.MakeOrderActivity"/>
        <activity android:name=".activity.makeOrder.MakeOrderDetailActivity"/>
        <activity android:name=".activity.makeOrder.SubmitActivity"/>
        <activity android:name=".activity.makeOrder.SupplementActivity"/>
        <activity android:name=".activity.Invenytory.TransferActivity"/>
        <activity android:name=".activity.makeOrder.CheckMaterialActivity"/>
        <activity android:name=".activity.makeOrder.InventoryCheckActivity"/>
        <activity android:name=".activity.makeOrder.EditWorkerActivity"/>
        <activity android:name=".activity.Invenytory.AddWorkerScanActivity"/>
        
        <activity
            android:name=".activity.Invenytory.SaveActivity"
            android:label="@string/title_activity_save"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.Invenytory.StockInventoryDetailActivity"
            android:label="@string/title_activity_stock_inventory_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ProductionDetailNoClickActivity"
            android:label="@string/title_activity_production_detail_no_click"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>